/* BASE STYLES */
:root {
    /* MEDIA QUERY */
    --desktop: 1200px;
    /* COLOR PRIMARY */
    /* Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%)
    --soft-red: hsl(14, 88%, 65%)
    /* Background gradient */
    --soft-violet: hsl(273, 75%, 66%)
    --soft-blue: hsl(240, 73%, 65%)
    /* COLOR NEUTRAL */
    /* Text */
    --very-dark-grayish blue: hsl(237, 12%, 33%)
    --dark-grayish-blue: hsl(240, 6%, 50%)
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%)
    /* FONT */
    --kumbh: 'Kumbh Sans', sans-serif;
}

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    font-size: 12px;
}

/* MAIN STYLES */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}